@font-face {
    font-family: 'canger';
    src: url(/fonts/canger.ttf) format('truetype');
    font-weight: 200 900;
    font-stretch: 100% 100%;
}

:root {
    --vp-font-family-base: canger,sans-serif;
    --vp-font-family-mono: canger,sans-serif;
}

html {
    font-family: var(--vp-font-family-base);
}

.ps{
    color: gray;
    scale: 90% 90%;
}

.hl{
    color:coral;
}

.ins{
    text-indent: 1em;
}

.leave{
    text-align: right;
}